[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
prompt = no

[ v3_req ]
basicConstraints = CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[req_distinguished_name]
C = ES
ST = Madrid
L = Madrid
O = cmendibl3
CN = az-keyvault-reader-sidecar-injector-CA