[ req ]
default_bits        = 2048
default_keyfile     = cert.key
distinguished_name  = req_distinguished_name
req_extensions      = req_ext # The extentions to add to the self signed cert
prompt = no
 
[ req_distinguished_name ]
C = ES
ST = MAD
L = Madrid
O = cmendibl3
CN = az-keyvault-reader-sidecar-injector-CA
 
[ req_ext ]
subjectAltName          = @alt_names

[alt_names]
DNS.1   = az-keyvault-reader-sidecar-injector-prod
DNS.2   = az-keyvault-reader-sidecar-injector-prod.kube-system
DNS.3   = az-keyvault-reader-sidecar-injector-prod.kube-system.svc